@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="~/img/meme.jpg" class="img-fluid" alt="Responsive image">

<script>
    function mostrarAlerta() {
        var valorCampo = document.getElementById("campoTexto").value;
        alert("Mi nombre es Juan Pérez, mi hobbie es leer, y el valor del campo de texto es: " + valorCampo);
    }
</script>

